<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109376432217-h52k8rcep10nfgs6147o3ld1dc0d538v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109376432217-h52k8rcep10nfgs6147o3ld1dc0d538v</string>
	<key>API_KEY</key>
	<string>AIzaSyBUIX4yDRTNqP0pKG8pBojQrgQ6WEy-GUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>109376432217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.aidma-hd.members</string>
	<key>PROJECT_ID</key>
	<string>members-chat-6565f</string>
	<key>STORAGE_BUCKET</key>
	<string>members-chat-6565f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109376432217:ios:85f8b7e43618246c76e948</string>
</dict>
</plist>